/* const buttonStyle = {
    fontSize: "30px",
    backgroundColor: "#00a5ab",
    width: "100px",
    margin: "100px",
    color: "white",
    padding: "15px",
    borderRadius: "30px"
}; */


button {
    font-size: 20px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: #00a5ab;
}

.count {
    font-size: 80px;
    padding: 20px;
}

.resetButton {
    background-color: coral;
}